<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arturo's Webpage</title>
</head>
<body>
<!-- These are the headers and information about my life -->
    <h1>The Rundown</h1>
    <h2> Info about my favorite animal</h2>
    <p>My dog's name is Syrus, he is 5 years and 7 months old. Syrus is a Corgi who has the <em>loudest</em> barks
    you'll ever hear, he sleeps a lot, and tries to herd people sometimes. This is all I will share about
        my <strong>favorite</strong> animal!</p>

    <h2> Info about me </h2>
    <p> I'm 21 years old, I like living a simple life and focusing on the positive stuff. My favorite
    things to do are hang out with friends/people, eat, sleep, workout, <strong>and be in the moment.</strong> I also
    like listening to music and want to learn how to DJ and also I want to learn to speak <em>portugese.</em></p>

<!--These are some lists about some of my favorite things-->
    <p>My favorite foods</p>
    <ul>
        <li>Rare steak</li>
        <li>Tuna and Salmon Sashimi</li>
        <li>Japanese Sweet potatoes</li>
        <li>Peruvian Ceviche</li>
        <li>Gored Gored</li>
    </ul>

<p> My favorite cities</p>
<ol>
    <li>Chicago</li>
    <li>Cusco</li>
    <li>New York</li>
    <li>Los Angeles</li>
</ol>

<table>
    <tr>
        <th>Courses I've taken</th>
        <th> Semester I took them </th>
    </tr>
    <tr>
        <td>BMGT230</td>
        <td>Spring 2023</td>
    </tr>
    <tr>
        <td>BMGT343</td>
        <td>Spring 2025</td>
    </tr>
    <tr>
        <td>BMGT340</td>
        <td>Fall 2024</td>
    </tr>
</table>
<!-- Here are some links that I wanted to include in my webpage!-->
<p>A link to my <a href = "https://arturod10.pythonanywhere.com/hello"> website with the hello route</a>.</p>
<p>A link to my <a href ="https://www.youtube.com/" target ="_blank">my favorite website </a>.</p>
<p>A link to my <a href ="https://oddsjam.com/">my 2nd favorite website </a>.</p>

<p>here's a photo of my business school logo</p>

<img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width = "270" height = "75" alt = "Smith Logo">
</body>
</html>